<div class="container">

    <div class="col-md-12">
        <h2 class="float-left" id="title-text"><a href="/">bAdvice</a></h2>
        {{#if user}}
            <div class="float-right">
                <h3>{{user.username}} is logged in. <a href="/logout">Logout</a></h3>
            </div>
        {{else}}
            <div class="float-right">
                <h3><a href="/signin">Sign in</a> | <a href="/signup">Register</a></h3>
            </div>
        {{/if}}
        <div class="clearfix"></div>
        <button class="btn btn-primary" id="new-question">New Question</button>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="single-question" data-id="{{question.id}}">
                <h2>Single Question!</h2>
                <ul class="list-group">
                        <li class="list-group-item">
                            <h3>{{question.title}}</h3>
                            <p>{{question.text}}</p>
                        </li>
                </ul>
                <button class="btn btn-primary" id="new-answer">New Answer</button>
                <ul class="list-group">
                {{#each answers}}
                    <li class="list-group-item">
                        <button class="upvote float-left" data-id='{{id}}'>upvote</button><p>{{upvotes}} {{text}}</p>
                    </li>
                {{/each}}
                </ul>
            </div>
        </div>
    </div>

</div>

<div id="new-answer-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Answer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/api/questions/{{question.id}}/answer" method="post">
                <div class="modal-body">
                    <div>
                        <label for="text">text?</label>
                        <input name="text">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="new-question-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/api/questions" method="post">
                <div class="modal-body">
                    <div>
                        <label for="title">title?</label>
                        <input name="title" id="title">
                    </div>
                    <div>
                        <label for="text">text?</label>
                        <input name="text">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#new-answer").on("click", function (event) {
        event.preventDefault();
        $('#new-answer-modal').modal('show');
    });

    $("#new-question").on("click", function (event) {
        event.preventDefault();
        $('#new-question-modal').modal('show');
    });

    $('.upvote').on("click", function (event) {
        event.preventDefault();
        var questionId = $('#single-question').attr('data-id');
        var answerId = $(this).attr('data-id');
        fetch(`/api/questions/${questionId}/${answerId}/upvote`,{
            method: 'PUT',
            credentials: 'include'
        }).then(function( response ){
            location.reload();
        });
    });
</script>
