{{!-- navbar --}}
<nav class="navbar sticky-top">
    <div class="container">
        <h2 class="float-left" id="title-text">
            <a href="/"><img src="./assets/images/badvice4.png" alt="Badvice Logo" height= "150"></a>
        </h2>
        <button class="btn" id="new-question">New Question</button>
        {{#if user}}
        <div class="float-right">
            <h3>{{user.username}} is logged in.
                <a href="/logout">Logout</a>
            </h3>
        </div>
        {{else}}
        <div class="float-right">
            <h3>
                <a href="/signin">Sign in</a> |
                <a href="/signup">Register</a>
            </h3>
        </div>
        {{/if}}
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <nav class="nav flex-column">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="#">Top Questions</a>
                <a class="nav-link" href="#">New Questions</a>
                <a class="nav-link" href="#">Top Answers</a>
                <a class="nav-link" href="#">Unanswered</a>
                <a class="nav-link" href="#">Category</a>
                <a class="nav-link" href="#">Category</a>
            </nav>
        </div>
        <div class="col-md-10">
            <div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h3>{{question.title}}</h3>
                        <p>{{question.text}}</p>
                        <p>Posted by: {{question.username}}</p>
                        <button class="btn" id="new-answer">New Answer</button>
                    </li>
                </ul>
                <ul class="list-group">
                {{#each answers}}
                    <li class="list-group-item">
                        <p>{{text}}</p>
                        </br>
                        <p>By:{{User.username}}</p>
                        <hr>
                        <button class="upvote btn btn-danger float-left" data-id='{{id}}'><i class="fas fa-arrow-up upvote"></i></button><p class="float-right">Upvotes: {{upvotes}}</p>
                        {{!-- <button class="upvote float-right" data-id='{{id}}'>upvote</button><p>{{upvotes}}</p> --}}
                    </li>
                {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="new-answer-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Answer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/api/questions/{{question.id}}/answer" method="post">
                <div class="modal-body">
                    <div>
                        <label for="text">Answer</label>
                        <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="new-question-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/api/questions" method="post">
                <div class="modal-body">
                    <div>
                        <textarea name="title" class="form-control" id="title" placeholder="Enter a title for your question" type="text" rows="1"></textarea>
                    </div>
                    <br>
                    <div>
                        <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Enter question here..."></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#new-answer").on("click", function (event) {
        event.preventDefault();
        $('#new-answer-modal').modal('show');
    });

    $("#new-question").on("click", function (event) {
        event.preventDefault();
        $('#new-question-modal').modal('show');
    });

    $('.upvote').on("click", function (event) {
        event.preventDefault();
        var questionId = $('#single-question').attr('data-id');
        var answerId = $(this).attr('data-id');
        fetch(`/api/questions/${questionId}/${answerId}/upvote`,{
            method: 'PUT',
            credentials: 'include'
        }).then(function( response ){
            location.reload();
        });
    });
</script>
